<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ add_static_file(path="css.css", file_path="./css.css") }}">
    <meta name="description" content="{{ description }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="{% block og_type %}{% endblock og_type %}">
    <meta property="og:url" content="{% block og_url %}{% endblock og_url %}">
    <meta property="og:image" content="{% block og_image %}{% endblock og_image %}">
    <link rel="icon" href="/favicon.ico?cb={{ now() }}" sizes="any">
    <link rel="icon" href="/icon.svg?cb={{ now() }}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="icon.png?cb={{ now() }}">
    <link rel="manifest" href="site.webmanifest">
    <meta name="theme-color" content="#fafafa">
    {% block head %}{% endblock head %}
</head>
<body>
    <div id="content">
        {% block content %}{% endblock content %}
    </div>
    <div id="footer">
        <div class="container">
            <p>fooo</p>
                <div></div>
        </div>
    </div>
</body>
</html>
