<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %} Serhiy Barhamon </title>
    <link rel="stylesheet" href="css/style.css?cb={{ now() }}">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta property="og:title" content="{% block og_title %}{% endblock og_title %}">
    <meta property="og:type" content="{% block og_type %}{% endblock og_type %}">
    <meta property="og:url" content="{% block og_url %}{% endblock og_url %}">
    <meta property="og:image" content="{% block og_image %}{% endblock og_image %}">
    <link rel="icon" href="/favicon.ico?cb={{ now() }}" sizes="any">
    <link rel="icon" href="/icon.svg?cb={{ now() }}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="icon.png?cb={{ now() }}">
    <link rel="manifest" href="site.webmanifest">
    <meta name="theme-color" content="#fafafa">
    {% block head %}
    {% endblock head %}
</head>
<body>
    <div id="content">
        {% block content %}{% endblock content %}
    </div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
        {% endblock footer %}
    </div>
</body>
</html>
