{% import "components/link.html" as link %}

{% extends "base.html" %}
{% block title %}{{ get_title(path = "/") }}{% endblock %}
{% block description %}{{ get_description(path = "/") }}{% endblock %}
{% block og_title %}{{ get_title(path = "/") }}{% endblock %}
{% block og_description %}{{ get_description(path = "/") }}{% endblock %}
{% block og_image %}{% endblock %}
{% block og_type %}website{% endblock %}
{% block og_url %}{{ get_host() }}{% endblock %}
{% block content %}
<div class="container">
  <h1>{{ get_title() }}</h1>
  {{ link::local_page(path = "/about", template = "about.html", text = "About", title = "About this this blog", description = "About this this blog") }}
</div>
{% endblock %}


