{% import "components/link.html" as link %}
{% extends "base.html" %}
{% block og_image %}{% endblock %}
{% block og_url %}{{ config.domain }}{% endblock %}
{% block content %}
  <h1>Serhiy Barhamon blog</h1>
  <p>HI!</p>
  <p>I'm a software engineer and adventurer. I'm currently working as a team lead at <a href="https://check24.de">Check24</a> in Munich, Germany.</p>
  {% for tag in config.index_tags %}
    <h2>{{ tag | capitalize }}:</h2>
    <div class="row">
      {% for post in get_posts_by_tag(tag = tag) %}
      <div class="card">
        <div class="img" style="background-image: url({{ post.content.metadata.image }})"></div>
        <div class="card-body">
          <h3>
           {{ link::local_page(path='post/' ~ post.pid ~ '.html', template="post.html", text=post.content.metadata.title, title=post.content.metadata.title, description=post.content.metadata.preview) }}
          </h3>
          <p class="timestamp">{{ post.content.metadata.timestamp }}</p>
          <p>{{ post.content.metadata.preview }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}


