{% import "components/post_card.html" as components %}
{% import "components/link.html" as link %}

{% extends "base.html" %}
{% block og_image %}{% endblock %}
{% block og_url %}{{ config.domain }}{% endblock %}
{% block content %}
  <h1>Serhiy Barhamon blog</h1>
  <p>HI!</p>
  <p>I'm a software engineer and adventurer. I'm currently working as a team lead at <a href="https://check24.de">Check24</a> in Munich, Germany.</p>
  {% for tag in config.index_tags %}
    <h2>{{ tag | capitalize }}:</h2>
    <div class="row">
      {% set page = get_posts_by_tag(tag = tag, limit = 3, offset = 0) %}
      {% for post in  page.posts %}
        {{ components::PostCard(post = post) }}
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}


