{% extends "base.html" %}
{% import "components/common.html" as common %}
{% import "components/yamd.html" as yamd %}

{% block og_image -%}{% set page= get_page_by_path( path = path ) %}{{ get_image_url(src = page.content.metadata.image, width = 1012, height = 682) | safe }}{% endblock -%}
{% block og_type %}article{% endblock %}
{% block og_url %}{{ config.domain }}{% endblock %}
{% block content -%}
  <div class="post">
    <img
      class="title-image"
      src="{{ get_image_url(src = page.content.metadata.image, width = 1000, height = 682) | safe }}"
      alt="{{ page.content.metadata.title }}"
      sizes="(min-width: 1000px) 1000px, (min-width: 780px) 780px, (min-width: 340px) 340px"
      srcset="{{ prepare_srcset_for_cloudinary_image(src=page.content.metadata.image, breakpoints=[1000,780,340]) | safe }}" 
    />
    <h1 class="title">{{ title }}</h1>
    {{ yamd::yamd(nodes=page.content.nodes) }}
    <div class="metadata">
      <div>
        posted on: 
      </div>
      <div>
        {{ page.content.metadata.date }}
      </div>
      <div>
        tags:
      </div>
      <div>
        {% for tag in page.content.metadata.tags -%}
        {{ common::local_page(path='/tag/' ~ tag ~ '.html', template="tag.html", text=tag, title=tag, description='all posts with tag: ' ~ tag) }}
        <span>&nbsp;</span>
        {% endfor %}
      </div>
    </div>
  </div>
{%- include "components/back.html" -%}
{% endblock %}
