{% extends "base.html" %}
{% import "components/link.html" as link %} 
{% block og_image %}{% endblock %}
{% block og_url %}{{ config.domain }}{% endblock %}
{% block content %}
  <h1>All posts with tag: {{ title }}</h1>
  {% set page = get_posts_by_tag(tag = title, limit = 9, offset = page_num * 9) %}
  <div class="row">
  {% for post in  page.posts %}
    <div class="card">
      <div class="img" style="background-image: url({{ post.content.metadata.image }})"></div>
      <div class="card-body">
        <h3>
          {{ link::local_page(path='/post/' ~ post.pid ~ '.html', template="post.html", text=post.content.metadata.title, title=post.content.metadata.title, description=post.content.metadata.preview) }}
        </h3>
        <p class="timestamp">{{ post.content.metadata.timestamp }}</p>
        <p>{{ post.content.metadata.preview }}</p>
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}
