{%- import "components/common.html" as common -%}

<div class="card">
  <a href="{{-page.pid ~ '.html'-}}">
    <img
      src="{{- get_image_url(src = page.metadata.image, width = 338, height = 220) | safe -}}"
    />
  </a>
  <div class="card-body">
    <h3>
      {{- common::local_page( path= page.pid ~ '.html', template="post.html",
      text=page.metadata.title, title=page.metadata.title,
      description=page.metadata.preview ) -}}
    </h3>
    <p>{{- page.metadata.preview -}}</p>
  </div>
</div>
