{%- macro yamd(nodes) -%}
{%- for node in nodes -%}
{%- if node.type == "P" -%}
{{ yamd::P(nodes=node.nodes) }}
{%- elif node.type == 'H' -%}
<h{{ node.level }}>{{ node.text }}</h{{ node.level }}>
{%- elif node.type == 'Image' -%}
{{ yamd::Image(node=node) }}
{%- elif node.type == 'Code' -%}
{{ yamd::Code(node=node) }}
{%- elif node.type == 'List' -%}
{{ yamd::List(node=node) }}
{%- elif node.type == 'ImageGallery' -%}
{{ yamd::ImageGallery(node=node) }}
{%- elif node.type == 'Divider' -%}
{{ yamd::Divider() }}
{%- endif -%}
{%- endfor -%}
{%- endmacro yamd -%}

{%- macro P(nodes) -%}
<p>
  {%- for node in nodes -%}
  {%- if node.type == 'A' -%}
  <a>{{ node.text }}</a>
  {%- elif node.type == 'Text' -%}
  {{ node.text }}
  {%- elif node.type == 'B' -%}
  {{ yamd::B(nodes=node.nodes) }}
  {%- elif node.type == 'I' -%}
  {{ yamd::I(node=node) }}
  {%- elif node.type == 'S' -%}
  {{ yamd::S(node=node) }}
  {%- elif node.type == 'InlineCode' -%}
  {{ yamd::InlineCode(node=node) }}
  {%- endif -%}
  {%- endfor -%}
</p>
{%- endmacro P -%}


{%- macro B(nodes) -%}
{%- for node in nodes -%}
<b>
  {%- if node.type == 'Text' -%}
  {{ node.text }}
  {%- elif node.type == 'S' -%}
  {{ yamd::S(node=node) }}
  {%- elif node.type == 'I' -%}
  {{ yamd::I(node=node) }}
  {%- endif -%}
</b>
{%- endfor -%}
{%- endmacro B -%}

{%- macro I(node) -%}
<i>{{ node.text }}</i>
{%- endmacro I -%}

{%- macro S(node) -%}
<s>{{ node.text }}</s>
{%- endmacro S -%}

{%- macro InlineCode(node) -%}
<code>{{ node.text }}</code>
{%- endmacro InlineCode -%}

{%- macro Image(node) -%}
<img src="{{ node.src | safe }}" alt="{{ node.alt }}"
  sizes="(min-width: 1190px) 1190px, (min-width: 780px) 780px, (min-width: 340px) 340px"
  srcset="{{ prepare_srcset_for_cloudinary_image(src=node.src, breakpoints=[1190,780,340]) | safe }}" />
{%- endmacro Image -%}

{%- macro Code(node) -%}
<pre><code>{{ code(code=node.code, language=node.lang) | safe }}</code></pre>
{%- endmacro Code -%}

{%- macro List(node) -%}
{%- if node.list_type == 'Unordered' -%}
<ul>
  {%- else -%}
  <ol>
    {%- endif -%}
    {%- for list_item in node.nodes -%}
    {{ yamd::ListItem(node=list_item) }}
    {%- endfor -%}
    {%- if node.list_type == 'Unordered' -%}
</ul>
{%- else -%}
</ol>
{%- endif -%}

{%- endmacro List -%}

{%- macro ListItem(node) -%}
<li>
  {%- for inner_node in node.text.nodes -%}
  {%- if inner_node.type == 'Text' -%}
  {{ inner_node.text }}
  {%- elif inner_node.type == 'B' -%}
  {{ yamd::B(nodes=inner_node.nodes) }}
  {%- elif inner_node.type == 'I' -%}
  {{ yamd::I(node=inner_node) }}
  {%- elif inner_node.type == 'S' -%}
  {{ yamd::S(node=inner_node) }}
  {%- elif inner_node.type == 'InlineCode' -%}
  {{ yamd::InlineCode(node=inner_node) }}
  {%- endif -%}
  {%- endfor -%}
  {%- if node.nested_list -%}
  {{ yamd::List(node=nested_list) }}
  {%- endif -%}
</li>
{%- endmacro ListItem -%}


{%- macro ImageGallery(node) -%}
<div class="ig">
  <div class="image">
    {%- for node in node.nodes -%}
    <div id="{{ node.alt }}">
      <img src="{{ node.src | safe }}" alt="{{ node.alt }}"
        sizes="(min-width: 1190px) 1190px, (min-width: 780px) 780px, (min-width: 340px) 340px"
        srcset="{{ prepare_srcset_for_cloudinary_image(src=node.src, breakpoints=[1190,780,340]) | safe }}"
        loading="lazy" />
    </div>
    {%- endfor -%}
  </div>
  <div class="thumb">
    {%- for image in node.nodes -%}
    <div>
      <a href="#{{ image.alt }}">
        <img src="{{ get_image_url(src = image.src, width = 99, height = 99) | safe }}" alt="{{ image.alt }}"
          loading="lazy" />
      </a>
    </div>
    {%- endfor -%}
  </div>
</div>
{%- endmacro ImageGallery -%}

{%- macro Divider() -%}
<hr />
{%- endmacro Divider -%}
